.navbar {
  background-color: #7EEADF;
}
h1 {
  font-family:'Reenie Beanie', cursive;
  text-align: center;
  font-size: 14em;
}
body {
  colour:#7eeadf;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
