h1 {
  font-size:70px;
  font-family:'Reenie Beanie', cursive;
  text-align: center;
}

body {
  colour:#7eeadf;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #7eeadf;
  color: black;
  text-align: center;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.card {
  background-color: #7eeadf;
}

.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

.navbar {
  background-color: #7eeadf;
}

.nav-link {
  color:#000;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.mr-sm-2 {
  color:#000;
}

.my-2 {
  color:#000;
}

.my-sm-0 {
  color:#000;
}

.btn {
  color:#000;
}
